<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/random.css">
        </head>
        <body>

            <script type="text/javascript">
              var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
              document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
              try {
                var pageTracker = _gat._getTracker("UA-135927047-1");
              pageTracker._trackPageview();
              } catch(err) {}
            </script>

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/cv">CV</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>
            <div class="container">
            
            {{ content }}
            
            </div><!-- /.container -->
            <footer>
                <ul>
                    <li><a href="mailto:xuyingru02@gmail.com">email</a></li>
                    <li><a href="https://github.com/Yingru">github.com/Yingru</a></li>
                </ul>
            </footer>

        </body>
    </html>

